<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <mirrors>
        <mirror>
            <id>lll-nexus</id>
            <name>lll Nexus Mirror</name>
            <url>https://nexus.lll44556.top/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>lll-nexus</id>
<!--            <username>${env.NEXUS_USERNAME}</username>-->
<!--            <password>${env.NEXUS_PASSWORD}</password>-->
            <username>admin</username>
            <password>lll44556</password>
        </server>
    </servers>

</settings>